.myInput {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--btnHoverColor);
}
.myInput:focus ~ label {
  top: -5px;
  color: var(--btnHoverColor);
}
.myInput:valid ~ label {
  top: -5px;
  color: var(--btnHoverColor);
}
.myInput:focus ~ span::before {
  width: 100%;
}
.myInput:valid ~ span::before {
  width: 100%;
}

