/* 
  .previewbox {
    height: 8rem;
    background-color: #000;
    display: flex;
    align-items: center;
  }
  .previewbox img {
    width: 100%;
    vertical-align: middle;
    
  } */

  .channel_Description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* background-color: #f00; */
    /* justify-content: center;
    align-items: center;  */
    text-align: center;
  }
  
  .channel_Title {
    height: 54px;
    /* background-color: #fff; */
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 10px 5px;
    font-size: 16px;
  }
  .channel_Owner {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px 5px;
    font-size: 16px;
    /* background-color: #fff; */
  }
  
  .channel_Views {
    height: 22px;
    line-height: 22px;
    margin: 0 10px 5px;
    font-size: 16px;
    /* background-color: #fff; */
  }
  
  .channel_Time {
    height: 18px;
    line-height: 18px;
    margin: 0 10px 5px;
    font-size: 14px;
    /* background-color: #fff; */
  }
  