.nav {
  --navColor: #46494c;
  --toogleColor: #1985a1;
  --menuBgColor: #4c5c68;
  --menuText: #c5c3c6;
  --menuText_Hover: #1985a1;
  --logoColor: #fff;

  background-color: var(--navColor);

  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar {
  background-color: var(--navColor);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 65px;
}

.logo {
  position: absolute;
  color: var(--logoColor);
  letter-spacing: 2px;
  font-size: 25px;
  right: 2rem;
  z-index: 2;
}

.toogle {
  position: absolute;
  color: var(--toogleColor);
  left: 2rem;
  background: none;
  font-size: 2.5rem;

}

.menu {
  position: absolute;
  background-color: var(--menuBg);
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
  z-index: 1;
}

.menu ul {
  background-color: var(--menuBgColor);
  
}

.menuItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0 8px 8px;
  list-style: none;
  height: 8vh;
}

.menuItem a {
  color: var(--menuText);
  text-decoration: none;
  font-size: 22px;
  width: 250px;
  height: 8.2vh;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.menuItem a:hover {
  background-color: var(--menuText_Hover);
}

.menuItem p {
  margin: 0 15px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .toogle {
    display: none;
  }
  .logo {
    left:2rem;
  }
  .menu {
    position: static;
    background-color: var(--navColor);
    height: 65px;
    top: 0;
    display: flex;
    justify-content: flex-start;
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
  }
  .menu ul {
    background-color: var(--navColor);
    top: 0%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .menuItem {
    height: 65px;
  }
  .menuItem a {
    height: 65px;
    width: 65px;
    font-size: 32px;
  }
  .menuItem p {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menuItem a {
    width: 155px;
    font-size: 25px;
  }
  .menuItem p {
    display: block;
  }
}

.active {
  transform: translateX(0%);
}
