.tagsButton {
  width: 4rem;
  margin: 0 2px 5px;
  padding: 1rem;
  border: solid 2px rgb(14, 172, 61);
  border-radius: 5px;
  background-color: rgb(44, 146, 24);
  color: white;
  outline: none;
  cursor: pointer;
  display: block;
}
@media screen and (max-width: 768px) {
    .tagsButton {
        display: none;
    }
}
